* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.main {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   min-width: 100vw;
   background-color: rgb(10, 10, 10);
}

.clock-face {
   position: relative;
   height: 300px;
   width: 300px;
   border: 0.4rem solid white;
   border-radius: 50%;
   z-index: 0;
   padding: 5px;

   transition: all 0.05s ease;
}

.hand {
   position: absolute;
   top: 50%;
   width: 140px;
   transform-origin: 100%;
}

.secondsHand {
   transform: rotate(90deg);
   transition: all 0.05s ease;
   border-bottom: 3px solid white;
}
.minuteHand {
   transform: rotate(90deg);
   transition: all 0.05s ease;
   border-bottom: 3px solid rgb(32, 238, 4);
}
.hourHand {
   transform: rotate(90deg);
   transition: all 0.05s ease;
   border-bottom: 3px solid rgb(204, 11, 11);
}

.label {
   display: flex;
   margin: 20px;
   color: white;
}
